@keyframes typingAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.welcome-text {
  overflow: hidden;
  white-space: nowrap;
  animation: typingAnimation 1s steps(20, end) forwards;
}

@keyframes popInAnimation {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcebca;
  color: #000000;
  min-height: 100vh;
  padding-top: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
  padding-top: 35px;
  animation: popInAnimation 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.project-logo {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.project-description {
  width: 400px;
  height: 360px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f4eed8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #000104;
  text-align: center;
  border-radius: 10px;
}

.home-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.home-openpack-button {
  background-color: #f59149;
  color: #000000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.home-openpack-button:hover {
  opacity: 0.8;
}

.home-management-button {
  background-color: #f59149;
  color: #000000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.home-management-button:hover {
  opacity: 0.8;
}