/* ManagementPage Styles */
.management-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/nba5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000;
    min-height: 100vh;
    width: 100vw;
    padding-top: 20px;
    background-attachment: fixed;
}

.management-page h1 {
    color: #333;
    margin-bottom: 20px;
}

.management-button-container {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    padding: 10px;
}

.reset-button {
    background-color: #da3a05;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    text-decoration: none;
    position: absolute;
    top: 20px;
    right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.reset-button:hover {
    background-color: #da3a05;
    color: #3b3736;
}

.management-home-button {
    background-color: #2079e7;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.management-home-button:hover {
    background-color: #2079e7;
    color: #3b3736;
}

.management-open-pack-button {
    background-color: #f59149;
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.management-open-pack-button:hover {
    opacity: 0.8;
}

/* Table Styles */
table {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 10px;
    border: 2px solid black;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f59149;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.sort-button {
    background-color: #f59149;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.sort-button:hover {
    background-color: #f59149;
    color: #3b3736;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}