.open-pack-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcebca;
    color: #000000;
    min-height: 100vh;
    padding-top: 20px;
}

.open-pack-button {
    background-color: #f59149;
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.open-pack-button:hover {
    opacity: 0.8;
}

.open-pack-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.open-pack-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
}

.open-pack-home-button {
    background-color: #2079e7;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.open-pack-back-button:hover {
    opacity: 0.8;
}

.save-card-button {
    background-color: #a0d856;
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
}

.save-card-button:hover {
    opacity: 0.8;
}