.open-pack-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcebca;
    color: #000000;
    min-height: 100vh;
    padding-top: 20px;
}

.button {
    background-color: #f59149;
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
}

.button:hover {
    opacity: 0.8;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Center-align the cards in the wrapper */
    gap: 20px;
    /* Space between each card */
    max-width: 1200px;
    /* Maximum width that cards will take up */
    width: 100%;
    /* Full width */
    margin: 20px auto;
    /* Centers the wrapper in the container with vertical spacing */
}

.back-button {
    background-color: #f59149;
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-button:hover {
    opacity: 0.8;
}